<form class="form-signin justify-content-center">
  <div class="text-center">
    <img class="mb-4 text-center" src="/assets/logo.png" alt="" width="300" height="auto">
  </div>

  <!-- Please sign in = Logga in  -->
  <hr>

  <h1 class="h3 mb-3 font-weight-normal text-center">Glömt lösenord</h1>
  <label for="inputEmail" class="sr-only ">E-post</label>
  <input #email type="email" id="inputEmail" class="form-control form-control-sm" style="border-radius: .25rem !important;" placeholder="E-mail adress" required autofocus>

  <button (click)="sendToEmail(email.value)" class="btn btn-lg btn-primary btn-block mt-3" style="border-radius: .25rem !important;" type="submit">Skicka</button>

  <hr>
  <p class="pointer text-primary text-center"><u><a [routerLink]="['/auth/login']" target="_self">Logga in</a></u></p>
  <p class="mt-5 mb-3 text-center text-white">&copy; 2018-2019</p>
</form>
